@import "~bootstrap/dist/css/bootstrap.min.css";

* {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.redCard {
  color: red;
}

.blackCard {
  color: black;
}

body {
  background-color: darkgreen;
}

.cards {
  position: inherit;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 2%;
  height: 500px;
}

#paloTop {
  padding-left: 5px;
  font-size: 45pt;
}

#paloBottom {
  padding-right: 5px;
  font-size: 45pt;
}

.numero {
  font-size: 65pt;
}
